Flask==2.3.2
Werkzeug==2.3.6
opencv-python==4.8.0.76
Flask-Cors==4.0.0
google-generativeai==0.5.2
SpeechRecognition==3.10.1
gTTS==2.5.1
googletrans==3.1.0a0
PyAudio==0.2.14
spacy==3.7.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.23.0
nltk==3.8.1
